html{
	background: url(../images/DSC_1235.JPG) no-repeat center center fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

nav{
	margin-top: 48%;
	margin-left: 2%;
	background-color: rgba(19, 19, 19, 0.5);
	width: 96%;
	float: left;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline;
	width: 90%;
}

nav li a{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-right: 30px;
	padding-left: 30px;
	transition: background-color .8s;
	text-decoration: none;
	opacity: .3;
}

nav ul li:hover{
	background-color: rgba(109, 151, 0, 0.5);
	text-shadow: 2px 2px 4px gray;
	cursor: pointer;
}

nav ul li a:hover{
	opacity: 1;
}

nav li span{
	font-size: 26px;
}

#socialMedia ul{
	list-style: none;
	position: fixed;
	right: 0px;
	top: 40px;
}

#socialMedia img{
	opacity: .3;
	width: 33px;
	height: 33px;
	transition: opacity .2s;
}

#socialMedia img:hover{
	opacity: 1;
}

#homeContent{
	width: 30%;
	height: 20%;
	background-color: rgba(0, 0, 1, 0.5); 
}

#homeContent h1{
	font-size: 40px;
	color: orange;
	font-weight: italic;
}

